.spinner2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;
    background: conic-gradient(from 135deg at top,#474bff 90deg, #0000 0) 0 calc(50% - 4.5px)/19px 9.5px,
           radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6.7px),#474bff calc(100% - 5.6px) 99%,#0000) top right/50%  50% content-box content-box,
           radial-gradient(farthest-side at top,#0000 calc(100% - 6.7px),#474bff calc(100% - 5.6px) 99%,#0000) bottom   /100% 50% content-box content-box;
    background-repeat: no-repeat;
    animation: spinner-v8og74 1s infinite linear;
 }
 
 @keyframes spinner-v8og74 {
    100% {
       transform: rotate(1turn);
    }
 }

.spinner {
    width: 140px;
    height: 140px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
 }
 
 .spinner > div {
    background-color: rgba(71,75,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid #474bff;
 }
 
 .spinner div:nth-of-type(1) {
    transform: translateZ(-22.4px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
    transform: translateZ(22.4px);
 }
 
 @keyframes spinner-y0fdc1 {
    0% {
       transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
 
    50% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
 
    100% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
 }